@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap');
body{
    margin:0;
    font-family:'roboto'
}
.banner{
background-color: #ffcd9e;
    display: flex;
    height:70vh;
    left:136px;
}
.bottom{
    background-color: black;
    height:30vh;
    display:flex;
    color:white;
    }
.right-section{
    left:100px;
    margin-top:25px;
	margin-left:130px;
    text-align:left;
}
h1.right-section{
    font-weight: 700;
    text-align: left;
    width:50%;
    font-size:32px;
}
p.right-section{
 width:40%;
    top:100px;
}
#email{
    height:36px;
	background:#FFFFFF;
	border-radius:8px;
	padding-left:32px;
	width:16rem;
	margin-top:12px;
	margin-right:12px;
	border:3px solid #000000
    }
#register{
    background:#282828;
	border:none;
	border-radius:8px;
	color:#fff;
	font-weight:700;
	font-size:14px;
	line-height:24px;
	width:10em;
	height:40px;
	cursor:pointer
}
#no-spam{
    color:#FFFFFF;
}
ul.buttom-right-section{
    
    list-style: none;
    text-align: justify;
    margin-top: 50px;
    margin-left: 100px;
    justify-content:space-between;
	}
ul.bottom-left-section{
    list-style: none;
    text-align:right;
    margin-left:780px;
    margin-top: 50px;
    justify-content:space-between;
}
.logos{
    height:60px;
}
